[submodule "raylib-base/external/raylib_c"]
	path = raylib-base/external/raylib_c
	url = https://github.com/raysan5/raylib
[submodule "raylib-easings/external/reasings"]
	path = raylib-easings/external/reasings
	url = https://github.com/raylib-extras/reasings.git
[submodule "raylib-gui/external/raygui"]
	path = raylib-gui/external/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "raylib-base/external/rres"]
	path = raylib-base/external/rres
	url = https://github.com/raysan5/rres
